*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.marqueeGrp {
    animation: scrollX 10s linear infinite;
} 

@keyframes scrollX {
    from {
        left: trnaslateX(0);
    }
    to {
        transform: translateX(-100%)
    }
}

.img-grp {
    width: clamp(10rem, 1rem + 40vmin, 30rem);
}


/* Responsive */


@media (max-width: 1024px) {
    .banner {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .marqueeGrp {
        animation-duration: 15s; /* Slow down scrolling on smaller screens */
    }

    .img-grp {
        width: clamp(8rem, 1rem + 30vmin, 25rem);
        padding: calc(clamp(8rem, 1rem + 20vmin, 25rem) / 10);
    }
    .heading{
        width: 50%;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 15px;
    }

    .marqueeGrp {
        animation-duration: 20s; /* Even slower scrolling */
    }

    .img-grp {
        width: clamp(6rem, 1rem + 20vmin, 20rem);
        padding: calc(clamp(6rem, 1rem + 20vmin, 20rem) / 10);
    }

    .img {
        aspect-ratio: 4/3;
    }
    .heading{
        width: 50%;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 10px;
    }

    .img-grp {
        width: clamp(5rem, 1rem + 10vmin, 15rem);
        padding: calc(clamp(5rem, 1rem + 10vmin, 15rem) / 10);
    }

    .img {
        aspect-ratio: 1/1;
    }
    .heading{
        width: 50%;
        padding: 0 20px 0 20px;
    }
}